---
interface Props {
  title: string;
  description?: string;
}

const { title, description = "健康寿命延伸を実現する未病プラットフォーム" } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Wellfort</title>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>

<style is:global>
  @import "../styles/global.css";
</style>
